
/recognition/**/facebook_large/*.csv
/recognition/**/facebook_large/*.json
/recognition/**/facebook_large/*.tsv
/recognition/**/facebook_large/*.txt
/recognition/**/facebook_large/README.*

.venv/
venv/
env/
runs/
runs1/
runs2/
runsog/
*.pt
metrics.csv
acc_curve.png
loss_curve.png


__pycache__/
*.pyc

/recognition/gnn-facebook-48827834/__pycache__/