
/recognition/**/facebook_large/*.csv
/recognition/**/facebook_large/*.json
/recognition/**/facebook_large/*.tsv
/recognition/**/facebook_large/*.txt


.venv/
venv/
env/

runs1/
runs2/
runs3/
runsog/



__pycache__/
*.pyc

/recognition/gnn-facebook-48827834/__pycache__/